# Exercici 1

Descarrega el data set [Airlines Delay: Airline on-time statistics and delay causes](https://www.kaggle.com/giovamata/airlinedelaycauses) i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

---

Veo que para descargarlo hay que registrarse en la web con usuario y contraseña.  250 megazos de información. Probemos a importar.

In [1]:
import pandas as pd
df = pd.read_csv("./DelayedFlights.csv", index_col=0)
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

Cosas:

- Como era de esperar, aquí si tarda un ratete en escupir cosas porque bueno, es un tocho de 250 megas que colocar en la ram. 

- Te pone bastantes columnas pero parece que no todas. Hay algunas que se quedan en los tres puntos. 

- Me ha salido un error:

```

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
  
```

Yo voy a seleccionar las siguientes columnas

- Mes (el año lo omito porque son todo datos del 2008)
- Día del mes
- Día de la semana 
- Origen 
- Destino
- Tiempo de retraso entre despegue planeado y real
- Tiempo de retraso entre aterrizaje planeado y real. 
- Distancia

In [2]:
df = df[["Month","DayofMonth","DayOfWeek","Origin","Dest","ArrDelay","DepDelay","Distance"]]
df.head()

   Month  DayofMonth  DayOfWeek Origin Dest  ArrDelay  DepDelay  Distance
0      1           3          4    IAD  TPA     -14.0       8.0       810
1      1           3          4    IAD  TPA       2.0      19.0       810
2      1           3          4    IND  BWI      14.0       8.0       515
4      1           3          4    IND  BWI      34.0      34.0       515
5      1           3          4    IND  JAX      11.0      25.0       688


## Exercici 2

Fes un informe complet del data set:.

    Resumeix estadísticament les columnes d’interès
    Troba quantes dades faltants hi ha per columna
    Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
    Taula de les aerolínies amb més endarreriments acumulats
    Quins són els vols més llargs? I els més endarrerits?
    Etc.

In [3]:
df.describe()

,Month,DayofMonth,DayOfWeek,ArrDelay,DepDelay,Distance
count,1.936758e+06,1.936758e+06,1.936758e+06,1.928371e+06,1.936758e+06,1.936758e+06
mean,6.111106e+00,1.575347e+01,3.984827e+00,4.219988e+01,4.318518e+01,7.656862e+02
std,3.482546e+00,8.776272e+00,1.995966e+00,5.678472e+01,5.340250e+01,5.744797e+02
min,1.000000e+00,1.000000e+00,1.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01
25%,3.000000e+00,8.000000e+00,2.000000e+00,9.000000e+00,1.200000e+01,3.380000e+02
50%,6.000000e+00,1.600000e+01,4.000000e+00,2.400000e+01,2.400000e+01,6.060000e+02
75%,9.000000e+00,2.300000e+01,6.000000e+00,5.600000e+01,5.300000e+01,9.980000e+02
max,1.200000e+01,3.100000e+01,7.000000e+00,2.461000e+03,2.467000e+03,4.962000e+03

Es gracioso porque, claro. Hacer la estadística básica de "meses", "días del mes" o "día de la semana" es muy loco. En plan, claro que van de valores del 1 al 12 los meses. 

### Valores nulos:

In [5]:
pd.DataFrame(df.isnull().sum())

               0
Month          0
DayofMonth     0
DayOfWeek      0
Origin         0
Dest           0
ArrDelay    8387
DepDelay       0
Distance       0

Aquí vemos que nulos tenemos en la columna de ArrDelay, por lo tanto hay aviones que salieron tarde pero NO llegaron tarde. 

Le he visto a Leo utilizar también un drop pero... no quiero usarlo, no obstante dejo aquí el còdigo

```Python 

#Drop null values
df.dropna(inplace=True)
pd.DataFrame(df.isnull().sum()).T.rename(index={0:'null values'})
```

### Nuevas columnas. 

Voy a crear unas columnas _legibles_ y algunas _tonterías_ ¿por qué? Porque _puedo_